nav {
  height: 120px;
  color: #FFFFFF;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5em;
  background-color: #ffae00b4; 
  background-image: url('path/to/your/image.png');
  background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
}

nav span {
  font-family: 'Bungee', sans-serif;
  font-size: 24px;
  justify-content: space-between;
}

nav .fas.fa-angle-double-down {
  color: rgba(124, 7, 7, 0.945);
  margin-top: 5px;
}

