nav {
  height: 120px;
  color: #FFFFFF;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5em;
  background-color: #ffae00b4;
  background-image: url('path/to/your/image.png');
  background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
  display: flex;
}

nav span {
  font-family: 'Bungee', sans-serif;
  font-size: 20px;
  justify-content: space-between;
}
nav nav-content {
  display: flex;
  font-size: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


nav .fa-angle-double-down {
  color: rgba(132, 6, 6, 0.945);
  margin-top: 5px;
  animation: fadeInOut 1s infinite; 
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
