.main-content {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  margin: 2%;
  width : 100%;
}

.new-tweet {
  width: 88%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.new-tweet form {
  display: flex;
  width: 88%;
  flex-direction: column;
  align-items:flex-start;
  justify-content: center;
  align-items: center;
}

.new-tweet label {
  font-weight: bold;
  text-align: left;
}

.new-tweet textarea {
  height: 50px;
  border: none; 
  justify-content: center;
  border-bottom: 2px solid #2e2921;
  width: 88%;
  background-color: #f4f1ec;
}


.new-tweet textarea:focus {
  outline: none;
  border-color: #4056A1;
}

.new-tweet button {
  font-family: 'Bungee', sans-serif;
  background-color: #4056A1;
  color: #FFFFFF;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
 
}

.new-tweet button:hover {
  background-color: #24457f;
}

.new-tweet .counter {
  font-family: 'Bungee', sans-serif;
  font-size: 68%;
  font-weight: bold;
  align-self: flex-end;
  color: #1d1c29;
}

.new-tweet .counter.invalid {
  color: red;
}

.new-tweet div {
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding-bottom: 10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  
}

.error-message {
  color: rgba(144, 13, 13, 0.603);
  font-family: 'Source Sans 3', sans-serif;
  font-size: 18px;
  margin : 2%;
  padding: 1%;
  border-color: red;
  align-items: center;
  justify-content: center;
  border-style: dashed;
}