
.tweet-container {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 0;
  width: 80%;
}


.tweet {
  display: flex;
  flex-direction: column;
  border: 2px solid #2e2727;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  
}


.tweet header {
  width: 88%;
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items:center;
  background-color: #f4f1ec;
}

.tweet header img {
  
  width: 35px;
  height: 35px;
  object-fit: contain;
  border-radius: 50%;
  margin-right: 10px;
}

.tweet header .user-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex:1;
}

.tweet header .user-info .user-name {
  font-size: 78%;
  color: #000000;
  
}

.tweet header .user-info .user-handle {
  font-size: 72%;
  color: #5f5c37;
}


.tweet-content p {
  margin: 0;
  height: 120px;
  max-width:fit-content;
  align-content: normal;
  color: #020202;
  text-align: justify;
}


.tweet footer {
  border-top: 2px solid #2e2727; 
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  position: relative; 
  width : 88%;
}

.tweet footer .icon-container {
  display: flex;
  align-items:end;
  margin-left: auto;
}

.tweet footer .icon-container i {
  margin-left: 10px;
  color: #888;
}

.tweet footer .timestamp {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 12px;
  color: #252525;
}

/* Hover styles for tweets */
.tweet:hover {
  box-shadow: 0 0 5px rgba(87, 122, 161, 0.3); /* Apply box shadow on hover */
}

.tweet:hover footer .icon-container i {
  color: #40a184; 

}
